/* General */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #F5F5F6;
}

button:focus {
    outline: 0
}

/* header */

header {
    padding: 15px;
    background: white;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0px 10px 10px 0px rgba(35, 31, 32, 0.1);
    z-index: 100;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}


header button {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    line-height: normal;
}


nav ul li img {
    height: 2.5em;
    cursor: pointer;
}


header nav ul li:nth-of-type(2) {
    margin-right: auto;
}


header nav ul li:nth-of-type(4) {
    margin-left: auto;
}

.header-section {
    margin-top: 12px;
}

/* Login */

#login form legend {
    margin-bottom: 8px;
}

#login form input:nth-of-type(-n+2) {
    width: 100%;
    border: none;
    border-bottom: #b6b6b8 2px solid;
    padding: 9px 12px;
    margin-bottom: 16px;
    transition: color .3s cubic-bezier(.39, .575, .565, 1), background .3s cubic-bezier(.39, .575, .565, 1);
}

#login form input:nth-of-type(-n+2):focus {
    border: 1.5px solid #009DDB;
}

#login form input:nth-of-type(-n+2):hover {
    background-color: #D4EFFC;
}

input::placeholder {
    color: #919294;
    font-style: italic;
}

#login form a {
    display: block;
    margin-bottom: 8px;
    color: #13679c;
}

#login form a:hover {
    color: #00477f;
}


/* Filter */

fieldset {
    background-color: white;
    border: 0;
}

fieldset fieldset {
    border: none;
}

input[type=submit] {
    padding: 12px 24px;
    width: 100%;
    background-color: #00477F;
    color: white;
    border-radius: 3px;
    border-style: none;
    font-weight: bolder;
    display: block;
    margin: 16px auto 12px auto;
    cursor: pointer;
    transition: color .3s cubic-bezier(.39, .575, .565, 1), background .3s cubic-bezier(.39, .575, .565, 1)
}

input[type=submit]:hover {
    background-color: #D4EFFC;
    color: #00477F;
}

#filter {
    width: 100%;
}

i.fa.fa-times {
    color: #009DDB;
    font-size: 1.2em;
    cursor: pointer;
}


/* Genre */

.title-line {
    border-bottom: 1px solid #b6b6b8;
    padding-bottom: 4px;
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}


fieldset fieldset input {
    width: 20px;
    height: 20px;
    margin-right: 12px;
    border: 2px #6d6e71 solid;
    border-radius: 4px;
    background: #fff;
    transition: border-color .3s cubic-bezier(.39, .575, .565, 1);
}


label.checkbox {
    cursor: pointer;
    padding: 12px;
    border: 2px #ebebec solid;
    border-radius: 4px;
    background: #fff;
    margin: 12px 0px;
    display: flex;
    transition: color .2s cubic-bezier(.39, .575, .565, 1), background .3s cubic-bezier(.39, .575, .565, 1);
}

label.checkbox:hover {
    background-color: #E8F0FE;
}

/* Geselecteerde checkbox styling */

input [type="checkbox"]:checked + label {
    border: 2px #00477F solid;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}



/* Leesduur */

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ed1a2d;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 15px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#slideContainer {
    padding: 0px 10px;
}

#leesduurInput {
    margin-bottom: 24px;
}

/* Sorteer op */

fieldset input[type="radio"] {
    margin-right: 0;
    cursor: pointer;
}

label[for=rating],
label[for=titles],
label[for=story] {
    margin-right: 12px;
    margin-left: 4px;
    cursor: pointer;
}


/* Zoeken / Search */

#search {
    background: white;
    width: 100%;
    padding: 9px 12px;
}

#search form {
    display: flex;
    justify-content: space-between;
}

#submitSearch img {
    height: 2.5em;
    cursor: pointer;
}

form input[type="search"] {
    width: 85%;
    border: grey 1px solid;
    padding: 4px 12px;
    transition: color .3s cubic-bezier(.39, .575, .565, 1), background .3s cubic-bezier(.39, .575, .565, 1);
}

form input[type="search"]:hover {
    background-color: #D4EFFC;
}

form input[type="search"]:focus {
    border: 1.5px solid #009DDB;
}




/* Verwijdert de 'X' van Internet Explorer */

input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/* Verwijdert de 'X' van Chrome */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}


#search form i.fa.fa-times {
    margin-top: 5px;
}

/* 99 verhalen */

main {
    margin-top: 82px;
}

main section {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    margin: 0px 12px;
}

main section article {
    position: relative;
}


/* toevoegen aan leeslijst knop */

#likeButton {
    display: block;
    border-radius: 50%;
    border-style: none;
    width: 50px;
    height: 50px;
    border: 1px solid;
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
    font-size: 2em;
}


/* Verhaalblokken */

article {
    border-radius: 0.3em;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(35, 31, 32, 0.1);
    -moz-box-shadow: 0px 10px 30px 0px rgba(35, 31, 32, 0.1);
    box-shadow: 0px 10px 30px 0px rgba(35, 31, 32, 0.1);
}

.storyPreview {
    width: 100%;
    border-radius: 0.3em;
    height: 300px;
}

article p {
    text-align: left;
}

article a {
    border-style: none;
    text-decoration: none;
    color: black;
}

h1,
h2 {
    font-size: 18px;
    color: #00477f;
    margin-bottom: 12px;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 6px;
    margin-right: 0px;
    border-bottom: 2px #ed1a2d solid;
    display: block;
    width: 112px;
    margin-left: 12px;
}


article {
    padding-bottom: 24px;
}

article h3 {
    line-height: 1.5;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: #00477f;
}


.footer-container {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

/* Rating */

footer span span {
    max-width: 200px;
    min-width: 160px;
}

footer span span img {
    width: 28px;
}

p img {
    height: 1.75em;
}

/* Leestijd */

#reading-duration {
    display: flex;
    align-items: center;
}

#reading-duration img {
    width: 22px;
    margin-right: 12px;
}

/* Verhaal detailpagina */

#verhaalInfo {
    background-color: #00477F;
    padding: 12px;
    color: white;
    margin-top: 75px;

}

#storyDetailed {
    width: 100%;
    position: relative;
    margin-top: -82px;
    padding-bottom: 0px;
}

/* Rating detailpagina */

#verhaalInfo footer {
    width: 100%;
}

#verhaalInfo span span {
    max-width: 200px;
    min-width: 160px;
}

#verhaalInfo span span img {
    width: 28px;
}

/* Footer */

#bottom-footer {
    margin: 12px 0px 12px 12px;
}

/* media queries */

@media screen and (min-width: 768px) {

    /* Verhalen */
    main section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0px 12px;
    }

    /* Filter & Login */
    #filter,
    #login {
        width: 50%;
        position: absolute;
        right: 1%;
        margin-right: 5%;
    }

    #login form,
    #filter form {
        background-color: white;
        border-radius: 3px;
        padding: 12px;
    }


    /* Header */
    #login form,
    #filter form {
        box-shadow: 0px 10px 10px 0px rgba(35, 31, 32, 0.1);
    }

    header nav ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
    }

    header nav ul li:nth-child(1) {
        order: 2;
    }
    header nav ul li:nth-child(2) {
        order: 3;
        margin-right: 0px;
    }
    header nav ul li:nth-child(3) {
        order: 1;
    }
    header nav ul li:nth-child(4) {
        order: 4;
        margin-left: 0px;
    }
    header nav ul li:nth-child(5) {
        order: 5;
    }

    header nav ul li:nth-of-type(1) {
        margin-left: auto;
    }



}

@media screen and (min-width: 1024px) {

    /* Alle verhalen */
    main section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 24px;
        margin: 0px;
    }

    /* Filter & Login */
    #filter,
    #login {
        margin-right: 10%;
        width: 30%;
    }

    main,
    header,
    #bottom-footer {
        padding-left: 10%;
        padding-right: 10%;
    }

    h1,
    #bottom-footer {
        margin-left: 0px;
    }

    /* Detailpagina */
    #verhaalInfo {
        padding-left: 10%;
        padding-right: 10%;
    }
